body{
    background-image: url(/img/Fondo-de-luxe-nomad.jpg);
    margin: 0;
    background-color: rgb(51, 117, 44);
    background-position: center;
}

header{
    width: 1200px;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: auto;
}

nav {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: rgb(158, 254, 187);
    background-color: rgb(0, 0, 0);
    padding: 15px;
    display: block;
    width: 150px;
    text-align: center;
}

nav a:hover {
    background-color: silver;
}
.section{
    width: 1000px;
    background-color: #9ea851;
    height: auto;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    }
section i{
    color: aquamarine;
    background-color: rgb(78, 128, 27);
    font-size: 40pt;
    padding:2px;
    width: 500px;
    margin: auto;
    display: block;
    border-radius: 15px;
    text-align: center;
}

section a{
    text-decoration: none;
    color: rgb(194, 255, 166);
    background-color: rgb(0, 0, 0);
    padding: 15px;
    display: block;
    border-radius: 15px;
    width: 150px;
    text-align: center;
}

section img{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
section a:hover{
    background-color: rgb(66, 100, 45);
}



section a {
    width: 400px;
    text-align: center;
    margin: auto;
}

footer{
    width: 800px;
    height: 320px;
    background-color: rgb(97, 163, 84);
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
}
footer h5{
    text-align: center;
}